* {
  box-sizing: border-box;
  transition: all 0.25s ease;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #600;
  background-image: url('../img/board_texture.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;

  font-family: Helvetica, arial, sans-serif;
  color: #FFF;
}

a, a:link, a:active, a:hover, a:visited {
  text-decoration: none;
}

.title {
  width: 90vw;
  align-self: center;
}

#prev {
  position: fixed;
  top: 0;
  left: 0;
}

#next {
  position: fixed;
  top: 0;
  right: 0;
}

#book {
  width: 300vw;
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;

  .cube {

    width: 45vw;
    height: 45vw;
    margin: 5px;

    &.small {
      width: 30vw;
      height: 30vw;
    }

    .selected {
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    color: #FFF;
    text-align: center;
    background-size: contain;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    a {
      color: #FFF;
      font-size: 36px;
    }

    &.spider {
      background-image: url("../img/icon-spider.png");
    }

    &.meteor {
      background-image: url("../img/icon-meteor.png");
    }

    &.arx {
      background-image: url("../img/icon-arx.png");
    }

    &.summon {
      background-image: url("../img/icon-summon.png");
    }

    &.weapon {
      background-image: url("../img/icon-weapon.png");
    }

    &.artifact {
      background-image: url("../img/icon-artifact.png");
    }
  }

  .bottom-button {
    border: 6px solid #000;
    border-radius: 15px;
    background-color: #6CC;
    color: #000;
    align-self: flex-end;

    font-size: 36px;
    font-weight: 800;
    padding: 5px 30px;

    &:focus, &:active {
      outline: none;
      background-color: #3FF;
    }
  }

  .big-button {
    border: 6px solid #000;
    border-radius: 15px;
    background-color: #F06;
    color: #000;
    align-self: center;

    font-size: 48px;
    font-weight: 800;
    padding: 5px 30px;

    &:focus, &:active {
      outline: none;
      background-color: #3FF;
    }
  }
}
